# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
.venv/
ENV/

# 日志和数据
logs/*
*.log

# 环境变量
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# 其他
.DS_Store 